<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/redmarket/items" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-content">

  <ion-row class="user-info-row">
    <ion-col class="user-image-col" size="5">
      <ion-badge slot="start" color="primary">11</ion-badge>
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell
          [display]="'cover'"
          class="user-image"
          animation="spinner"
          [src]="profile?.userImage"
          [alt]="'item image'"
        >
        </app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col class="user-details-col" size="12">
      <h2 class="user-name">
        <app-text-shell
          animation="bouncing"
          [data]="profile?.name"
        ></app-text-shell>
      </h2>
      <span class="user-age">
        <app-text-shell
          animation="bouncing"
          [data]="profile?.job"
        ></app-text-shell>
      </span>
      <div class="user-stat">
          <ion-badge color="primary">100 Followers</ion-badge>
          <ion-badge color="secondary">10 Following</ion-badge>
      </div>
    </ion-col>
    <ion-col class="actions-col" size="12">
      <ion-row>
        <ion-col size="3">
          <ion-button class="action-btn" color="secondary">
            <ion-icon class="btn-icon" slot="icon-only" name="mail"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="action-btn" color="secondary">
            <ion-icon class="btn-icon" slot="icon-only" name="call"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="action-btn" color="secondary">
            <ion-icon
              class="btn-icon"
              slot="icon-only"
              name="videocam"
            ></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button class="action-btn" color="secondary">
            <ion-icon class="btn-icon" slot="icon-only" name="text"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div class="content-section user-languages-wrapper">
    <ion-row class="language-item-row">
      <ion-col class="language-item">
  <ion-list lines="none" mode="ios">
          <ion-item button (click)="createModal()">  
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>
              <p>Profile</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/settings']" >  
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>
              <p>Language</p>
            </ion-label>
          </ion-item>

          <ion-item (click)="ThemeSwitcher()" detail>
            <ion-icon slot="start" name="color-fill-outline" detail></ion-icon>
            <ion-label>
              <p>Theme</p>
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/']">
            <ion-icon  slot="start"  name="heart-outline" detail></ion-icon>
            <ion-label>
              <p>Saved Items</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/settings']" >  
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>
              <p>Community</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/']">
            <ion-icon slot="start" name="pricetag-outline" detail></ion-icon>
            <ion-label>
              <p>Deals</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/']">
            <ion-icon slot="start"  name="notifications-outline" detail></ion-icon>
            <ion-label>
              <p>Notification</p>
            </ion-label>
          </ion-item>
      
          <ion-item [routerLink]="['/']"> 
            <ion-icon slot="start"  name="information-circle-outline" detail></ion-icon>
            <ion-label>
              <p>Support</p>
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/']">
            <ion-icon  slot ="start" name="bag-add-outline" detail></ion-icon>
            <ion-label>
              <p>Help Center</p>
            </ion-label>
          </ion-item>

          <ion-item [routerLink]="['/settings']" >  
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>
              <p>Terms & Services</p>
            </ion-label>
          </ion-item>

          <ion-item (click)="signOut()">
            <ion-icon  slot ="start" name="log-out-outline" detail></ion-icon>
            <ion-label>
              <p>Logout</p>
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>

  </div>
  <div class="last-section">
    <div class="app-version">
    Version 0.0.1
  </div>
  </div>
</ion-content>
