<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Account</h4>

    
        <ion-item button lines="none">
          <ion-label slot="start">Kedirosa</ion-label>
          <span slot="end">
            <ion-button fill="clear"> Edit </ion-button>
          </span>
        </ion-item>

        <ion-item button lines="none">
          <span slot="start">feedonat@gmail.com</span>
          <span slot="end">
            <ion-button fill="clear"> Edit </ion-button>
          </span>
        </ion-item>
        <ion-item button lines="none">
          <span slot="start">(214)263-8568</span>
          <span slot="end">
            <ion-button fill="clear"> Edit </ion-button>
          </span>
        </ion-item>

        <ion-item button lines="none">
          <span slot="start">Password</span>
          <span slot="end">
            <ion-button fill="clear"> Edit </ion-button>
          </span>
        </ion-item>

        <ion-item button lines="none">
          <span slot="start">Richardson Tx</span>
          <span slot="end">
            <ion-button fill="clear"> Edit </ion-button>
          </span>
        </ion-item>
     


  <h4>Color Theme</h4>

   

        <ion-radio-group value="theme" mode="ios">
          <ion-item lines="none">
            <ion-label>Dark</ion-label>
            <ion-radio slot="end" value="dark"></ion-radio>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Light</ion-label>
            <ion-radio slot="end" value="light"></ion-radio>
          </ion-item>

          <ion-item lines="none">
            <ion-label>Device Preferance</ion-label>
            <ion-radio slot="end" value="device"></ion-radio>
          </ion-item>
        </ion-radio-group>

  


  <h4>Notifications Setting</h4>


  
        <ion-item button lines="none">
          <span slot="start">Email</span>
          <span slot="end">
            <ion-button fill="clear"> Edit </ion-button>
          </span>
        </ion-item>

        <ion-item button lines="none">
          <span slot="start">Push</span>
          <span slot="end">
            <ion-button fill="clear"> Edit </ion-button>
          </span>
        </ion-item>
        <ion-item button lines="none">
          <span slot="start">Text</span>
          <span slot="end">
            <ion-button fill="clear"> Edit </ion-button>
          </span>
        </ion-item>

  
</ion-content>
