

  .custom-tabs ion-fab-button {
    ion-icon {
      font-size: 2em;
      color: black
    }
    color: #000;
    --ion-color-base: var(--ion-color-primary);
    background-color: var(--ion-color-primary);
    border-radius: 50%;
    max-width: 15px;
    height: 15px;
    margin-bottom: 6px;
    box-shadow: 0 10px 6px -6px var(--ion-color-light);

  }
  ion-tab-bar {
    padding-bottom: 25px;
    padding-top: 5px;
    --background:var(--ion-color-step-100);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    border: none;
    ion-icon{
      width: 25px;
    }

  }
  ion-fab-button {
    width: 46px;
    height: 46px;
    ion-icon{
      size: 20px;
    }
  }