<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Item Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none" button detail ion-activatable ripple-parent [routerLink]="['/public-profile']">

    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">

    <div class="item-profile">
      <h5>Item Name</h5>
      <h4>$20</h4>
      <p>20 Views</p>
    </div>
    
  </ion-item>
    
  <ion-row class="details-purchase-options-row">
    <ion-col size="5">
      <ion-button  color="primary" expand="block" >Mark as sold</ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-button color="primary" expand="block">Sell fasterr</ion-button>
    </ion-col>

    <ion-col size="2">
      <ion-button fill="clear" (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <div class="messages">
 <h3 >Messages</h3>
</div>
</ion-content>