<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/chats" mode="md">
      </ion-back-button>
    </ion-buttons>
    <ion-title >Messages</ion-title>
  </ion-toolbar>
<ion-toolbar>
  <ion-row>
    <ion-col class="ion-img-col">
      <ion-avatar>
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
    </ion-col>
    <ion-col size="6">
      <div class="profile">
        <div>
          <h4>Kedirosa Moha</h4>
        </div>
        <div>Joind Mar 2020</div>
        <div>Richardson TX</div>
        <div class="rating">* * * * *</div>
      </div>
    </ion-col>
    <ion-col class="ion-img-col">
      <ion-avatar>
        <img
          src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
        />
      </ion-avatar>
    </ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>


<ion-content fullscreen>
	<div class="chat_container d-flex">
		<div class="chat_box d-flex received">
			<div class="chat">
                <h2><span>Hey Samanth !</span></h2>
				<p>11:48 am</p>
			</div>
		</div>
		<div class="chat_box d-flex send">
			<div class="chat">
                <h2><span>Hey whats up emili !!</span></h2>
				<p>11:49 am <ion-icon name="checkmark-done-outline"></ion-icon>
				</p>
			</div>
		</div>
		<div class="chat_box d-flex received">
			<div class="chat">
                <h2><span>Can you send me rozzy contact?</span></h2>
				<p>11:50 am</p>
			</div>
		</div>

		<div class="chat_box d-flex send">
			<div class="chat">
				<h2>Sure ,just a second </h2>
				<p>11:49 am <ion-icon name="checkmark-done-outline"></ion-icon>
				</p>
			</div>
		</div>

		<div class="chat_box d-flex send">
			<div class="chat">
          <h2>is the item still available ?
            I want to offer you $200 </h2>
	
				<p>11:49 am <ion-icon name="checkmark-done-outline"></ion-icon>
				</p>
			</div>
		</div>
	</div>
</ion-content>

 
<ion-footer *ngFor="let item of optionItems" [ngClass]="{'active': item.active}">
    <ion-toolbar>
	<div class="form">
		<ion-list lines="none" class="d-flex">
      <ion-icon name="add-circle-outline" (click)="toggleClass(item)"></ion-icon>
			<ion-item lines="none">
				<ion-textarea type="text" placeholder="Type your message"></ion-textarea>
			</ion-item>
			<h3 class="end">
        <ion-button fill="clear"> <ion-icon slot="icon-only" name="send-outline"></ion-icon></ion-button>
			</h3>
		</ion-list>
	</div>

	<div class="option">
		<ion-row>
			<ion-col size="3">
				<ion-icon name="camera-outline" color="primary"></ion-icon>
				<h6 class="ion-text-center">Camera</h6>
			</ion-col>
			<ion-col size="3">
        <ion-icon name="images-outline" color="primary"></ion-icon>
				<h6 class="ion-text-center">Gallery</h6>
			</ion-col>
			<ion-col size="3">
        <ion-icon name="person-outline" color="primary"></ion-icon>
				<h6 class="ion-text-center">Contact</h6>
			</ion-col>
			<ion-col size="3">
				<ion-icon name="location-outline" color="primary"></ion-icon>
				<h6 class="ion-text-center">Location</h6>
			</ion-col>
			<ion-col size="3">
        <ion-icon name="document-text-outline" color="primary"></ion-icon>
				<h6 class="ion-text-center">Document</h6>
			</ion-col>
		</ion-row>
	</div>
</ion-toolbar>
</ion-footer> 

