<ion-header >
 
  <ion-toolbar class="header-ion-toolbar" [class.show-background]="showToolbar">
      <ion-button class="action-btn" slot="start" (click)="backClicked()" fill="clear">
        <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
      </ion-button>

    <ion-button class="action-btn action-btn-mid" slot="end" fill="clear">
      <ion-icon slot="icon-only" [name]="heartType" color="primary"></ion-icon>
    </ion-button>
    <ion-button class=" action-btn" slot="end" fill="clear">
      <ion-icon class="btn-icon" slot="icon-only" name="ellipsis-vertical-outline" color="primary"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>
<ion-content crollY="false" class="fashion-details-content" forceOverscroll="false" no-padding fullscreen (ionScroll)="onScroll($event)" [scrollEvents]="true" [class.transition]="transition" >
  <ion-row class="slider-row">
    <ion-slides class="details-slides" pager="true" [options]="slidesOptions">
      <ion-slide *ngFor="let image of details?.images">
        <ion-row class="slide-inner-row">
          <app-image-shell #img  [display]="'cover'" animation="spinner" class="showcase-image" [ngClass]="{'centered-image': (image.type === 'square'), 'fill-image': (image.type === 'fill')}" [src]="image">
            <app-aspect-ratio [ratio]="{w:64, h:50}">
            </app-aspect-ratio>
          </app-image-shell>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-row>

    <div class="details-description-wrapper">
      <h5 class="details-name">
        <app-text-shell animation="gradient" [data]="details?.title"></app-text-shell>
      </h5>
      <div class="details-price">
        <app-text-shell animation="gradient" [data]="details?.price | currency"></app-text-shell>
      </div>
      <div class="details-description">
       Posted {{details?.postDate}} in {{details?.address}}
      </div>

      <div class="details-description">
        {{details?.cat}} - {{details?.subCat}}
      </div>
      <div class="details-description">
      Condition: {{details?.condition}}
      </div>
      <ion-row>
        <ion-col size="6">
          <ion-button class="select-variant-btn" color="medium" expand="block" fill="outline" (click)="chat()">Ask</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" expand="block" (click)="createModal()">Make offer</ion-button>
        </ion-col>
      </ion-row>
    </div>

  <div class="details-description-wrapper">
    <h3 class="detail-title">Detail</h3>
    <p class="details-description">
      <app-text-shell animation="gradient" [data]="details?.brand" lines="5"></app-text-shell>
    </p>
  </div>
  <div class="details-description-wrapper">
    <h3 class="detail-title">Looking after me</h3>
    <p class="details-description">
      <app-text-shell animation="gradient" [data]="details?.careInstructions" lines="3"></app-text-shell>
    </p>
  </div>
  <div class="details-description-wrapper">
  <h3 class="detail-title">Meet the seller</h3>

  <ion-item lines="none" button detail ion-activatable ripple-parent  [routerLink]="['/public-profile']">
    <ion-row>
      <ion-col size="3">
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
      </ion-col>
      <ion-col size="9">
        <app-text-shell animation="gradient" [data]="details?.poster"></app-text-shell>
      </ion-col>

    </ion-row>
  </ion-item>
</div>
  <div class="details-description-wrapper">
    <h3 class="detail-title">Description</h3>
    <span>
      <p class="details-description ">
        {{details?.desc}}
      </p>
    </span>
  </div>

 
    
   <div class="similar-items">
    <div class="details-description-wrapper">
      <h3 class="detail-title">Similar items</h3>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col
        
        size-xs="6"
        size-sm="4"
        size-lg="3"
        *ngFor="let item of items">
          <ion-card ion-activatable ripple-parent
          mode="ios"
          routerLink="/item-detail"
          class="shadow ion-no-margin ion-margin-bottom">
          <img class="cover-img" src="{{item?.image}}" />
          <!-- <ion-card-content>
            <div class="ion-text-nowrap">
              <ion-text color="primary">
                <h3 class="bold ellipsis">{{ item?.name }}</h3>
              </ion-text>
            </div>
          </ion-card-content> -->
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>


<ion-footer class="footer-tool-bar ion-no-border" *ngIf="showFooter">
  <ion-toolbar>
    <ion-row class="details-purchase-options-row">
      <ion-col size="6">
        <ion-button class="select-variant-btn" color="medium" expand="block" fill="outline" (click)="chat()">Ask</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="primary" expand="block" (click)="createModal()">Make offer</ion-button>
      </ion-col>
    </ion-row>
</ion-toolbar>
</ion-footer>
