:host-context(.ios) {
  // Custom platform styles here
  .list-item {
    .user-data-wrapper {
      padding-inline-end: calc(var(--page-margin) / 2);
    }
  }

  .searchbar-row {
    ion-searchbar.items-searchbar {
      padding-top: var(--padding-top);
      padding-bottom: var(--padding-bottom);
    }
  }
}
.searchbar-input.sc-ion-searchbar-md {
  border-radius: 25px;
  background-position: left 8px center;
  height: auto;
  font-size: 1.1rem;
  font-weight: 400;
  color: #7f8490;
  background-color: white;
  -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.1) !important;
}