<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="filters-toolbar">
    <ion-row class="searchbar-row" align-items-center>
      <ion-col>
        <ion-searchbar class="items-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="Filter by name..."></ion-searchbar>
      </ion-col>
      <ion-col class="call-to-action-col">
        <ion-button fill="clear" color="primary" class="filters-btn" (click)="showAgeFilter = !showAgeFilter">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <form [formGroup]="rangeForm" [hidden]="!showAgeFilter">
      <ion-row class="range-item-row">
        <ion-col size="12">
          <div class="range-header">
            <span class="range-value">{{ rangeForm.controls.dual.value.lower }}</span>
            <span class="range-label">Filter by age</span>
            <span class="range-value">{{ rangeForm.controls.dual.value.upper }}</span>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-range class="range-control" formControlName="dual" color="secondary" pin="true" dualKnobs="true" (ionChange)="searchList()" min="1" max="100" step="1" debounce="400"></ion-range>
        </ion-col>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12" >
      <h5>Top category</h5>
    </ion-col>
    </ion-row>
           <ion-col size="12"  >
            <ion-slides pager="false" [options]="slidesOptions" class="cat-ion-slides" *ngIf="viewEntered">
              <ion-slide   *ngFor="let cat of categories">
                <div class="single-cat">
                  <div class="pic">
            <ion-card class="step1-ion-card" [color]="category_bg"
           
              (click)="categoryClicked()"
              [color]="forSale ? 'primary' : ''"
              button
              ion-activatable
              ripple-parent
            >
            
              <ion-card-content>
                <ion-icon name="bed-outline"></ion-icon>
              </ion-card-content>
            </ion-card>
          </div>
          <div class="desc">
            <span class="post-type">
              <p>{{cat}}</p>
            </span>
          </div>
          </div>
            </ion-slide>
            </ion-slides>
           </ion-col>
      
    <ion-grid>
      <ion-row class="item-ion-row ">
        <ion-col
        
        size-xs="4"
        size-sm="3"
        size-lg="2"
        *ngFor="let item of items">
          <ion-card ion-activatable ripple-parent
          mode="ios"
          routerLink="/item-detail"
          class="shadow ion-no-margin ion-margin-bottom">
          <img class="cover-img" src="{{item?.image}}" />
          <!-- <ion-card-content>
            <div class="ion-text-nowrap">
              <ion-text color="primary">
                <h3 class="bold ellipsis">{{ item?.name }}</h3>
              </ion-text>
            </div>
          </ion-card-content> -->
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>




</ion-content>
