@import "theme/mixins/scrollbars";
.filters-toolbar {
  --padding-start: var(--page-margin);
  --padding-end: var(--page-margin);
  --padding-top: var(--page-margin);
  --padding-bottom: var(--page-margin);

  .sc-ion-searchbar-md-h {
    --background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.07);
    --border-radius: 20px;
    --box-shadow: none;
  }
  .searchbar-row {
    --ion-grid-column-padding: 0px;
     margin: 15px;
    ion-searchbar.items-searchbar {
      padding: 0px;
      // override Ionic fixed height
      height: 100%;
      // Learn more about CSS contain property here: https://termvader.github.io/css-contain/
      contain: content;
    }

    .call-to-action-col {
      padding-inline-start: var(--page-margin);
      max-width: fit-content;
      flex-shrink: 0;
      flex-grow: 0;
      display: flex;
      justify-content: flex-end;

      .filters-btn {
        --padding-start: 0px;
        //--padding-end: 0px;
        margin-left: 3px;
        margin: 0px;
        font-size: 18px;
        text-transform: none;
        //override Ionic fixed height
        height: initial;
      }
    }
  }
  


  .range-item-row {
    --ion-grid-column-padding: 0px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: var(--page-margin);
    padding-top: var(--page-margin);
    // box-shadow at the top
    box-shadow: inset 0 6px 3px -8px var(--ion-color-darkest);

    .range-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: calc(var(--page-margin) / 2);

      .range-value {
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.2px;
        color: var(--ion-color-medium);
      }

      .range-label {
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: var(--ion-color-medium);
      }
    }

    .range-control {
      // override the pin color
      --ion-text-color: var(--ion-color-medium);
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}


.bottom-left {
  position: absolute;
  color: #fff;
    padding: 5px;
    height: 25px;
    align-content: center;
    bottom: 5px;
    align-items: center;
    margin-left: 5px;
    font-weight: 500;
   font-size:  12px;
   background: rgba(black, 0.4);
}
.item-ion-card {
  display: block;
  margin: 0;
  border-radius: 8px;
max-height: 150px;
min-height: 120px;
  .cover-img {
    background-color: var(--ion-color-white);
    background-size: cover;
    background-position: 100%;
    //   width: var(--image-width, 100%);
    //   height: var(--image-height, 120px);
    object-fit: cover;
    position: relative;
  }
}
h5 {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  margin-left: 5px;
  padding-bottom: 0px;
}

ion-card-content {
  padding: var(--content-padding, 8px) !important;
}
.item-ion-row {
  width: calc(100% - 5px);
  margin: 0 auto;

  ion-col {
    padding: 2px;
    //height: 130px;
  }
}
.cat-ion-slides {
  margin-bottom: -20px;
  margin-top: -23px;
  ion-slide {
    .single-cat {
      align-items: center;
      .pic {
        ion-card {
          border-radius: 50%;
          ion-card-content {
            align-items: center;
            text-align: center;
          }
          ion-icon {
            font-size: 40px;
            --ionicon-stroke-width: 16px;
          }
          height: 60px;
          width: 60px;
        }
      }
      .desc {
        font-size: 12px;
        margin-top: -10px;
      }
    }

  }
}
